body{
    background-color: green;


}

.cabecera{
    background-color: rgb(12, 13, 63);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;

}

.botones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20vh;

}


.roles-name{
    margin-top: 4vh;
    color: white;

}

.boton-logout{
    height: 5vh;
    margin-top: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    background-color: rgb(9, 116, 9);
    border: 2px solid white;
    color: white;
}